<div class="qs_page">
  <% if user_logged_in %>
    <form action="/create_question" method="post">
      <button class="button">Ask Question</button>
    </form>
  <% end %>
  <p>Top Questions</p>
  <ul>
    <% @questions.each do |question| %>
      <li class="question_list">
        <span class="info"><ul><li><%=question.votes.count%></li><li>votes</li> </ul></span>
        <span class="info"><ul><li><%=question.answers.count%></li><li>answers</li> </ul></span>
        <span class="info"><ul><li><%=rand(0..500)%></li><li>views</li> </ul></span>
        <a class="question" href="/question/<%=question.id%>"><%=question.title%></a>
      </li>
    <% end %>
  </ul>
</div>

