<div>

  <h1>Question</h1>
  <!-- The question -->
  <h2><%= @question.body%></h2>
  <!-- The question comments -->
  <ul>

    <li><p>Question comments</p></li>
    <%@question.comments.each do |comment| %>
    <li><%=comment.body%></li>
    <% end %>
    <%if user_logged_in %>
    <input type="text" name="comment">
    <button class="question-comment">add comment</button>
    <% end %>
  </ul>

  <H2>Answers</H2>
  <!-- The answers -->
  <ul class="answers-list">
    <% @question.answers.each do |answer| %>
    <li><%=answer.body %></li>
    <!-- The answer comments -->
    <p>Answer comments LIST next dot</p>
    <ul class="answer-comment-list">
      <%answer.comments.each do |comment| %>
      <li><%=comment.body %></li>
      <%if user_logged_in %>
      <form class='add-com' action='/add_com/<%=answer.id%>/' method='post' >
        <input type="text" name="comment">
        <button class="answer-comment">add comment</button>
      </form>
      <% end %>
      <% end%>
    </ul>



    <%end%>
  </ul>
</div>
