<div>

  <!-- The question -->

  <ul class="vote-buttons" data-id="<%= @question.id %>">
    <li><input type="image" class="arrow" name="submit" src="/images/up-triangle.png" height="15px" data-direction="up"></li>
    <li id="vote-button-v-count"><%=@question.votes.count%></li>
    <li><input type="image" class="arrow" name="submit" src="/images/down-triangle.png" height="15px" data-direction="down"></li>
  </ul>

  <div class="question-area">
    <h1>Question</h1>
    <h2><%= @question.body%></h2>
    <!-- The question comments -->
    <ul>
      <li><p>Question comments</p></li>
      <%@question.comments.each do |comment| %>
      <li><%=comment.body%></li>
      <% end %>
      <%if user_logged_in %>
      <input type="text" name="comment">
      <button class="question-comment">add comment</button>
      <% end %>
    </ul>
  </div>


  <ul class="vote-buttons">
    <li><input type="image" class="arrow" name="submit" src="/images/up-triangle.png" height="15px"></li>
    <li id="vote-button-v-count"><%=@question.votes.count%></li>
    <li><input type="image" class="arrow" name="submit" src="/images/down-triangle.png" height="15px"></li>
  </ul>

  <div class="answers-area">
    <H2>Answers</H2>
    <!-- The answers -->
    <ul class="answers-list">
      <% @question.answers.each do |answer| %>
      <li><%=answer.body %></li>
      <!-- The answer comments -->
      </ul>
    <ul class="answer-comment-list">
      <%answer.comments.each do |comment| %>
      <li><%=comment.body %></li>
      <%if user_logged_in %>
      <form class='add-com' action='/add_com/<%=answer.id%>/' method='post' >
        <input type="text" name="comment">
        <button class="answer-comment">add comment</button>
      </form>
      <% end %>
      <% end%>
    </ul>



    <%end%>
  </ul>
  </div>
</div>
